/.DS_Store
/NestControl
AppBlocker/.DS_Store
AppBlocker/cache/.DS_Store
AutoSelfControl/.DS_Store
AutoSelfControl/.Resources/.DS_Store
AutoSelfControl/.Resources/cache/.DS_Store
BatteryNotification/.DS_Store
OpenWorkDirectory/.DS_Store
OutlookCalendarUpdate/.DS_Store
OutlookCalendarUpdate/Resources/.DS_Store
OutlookCalendarUpdate/Resources/Backups/.DS_Store
ScreenMeasurer/.DS_Store
