*/node_modules*
*.DS_Store
*/cache*
*/.other*
*/.data*
OutlookCalendarUpdate*


/NestControl
AppBlocker/QuitApp.scpt
OpenWorkDirectory/WorkDirectory.txt
AutomateScheduling/AutomateScheduling.py
MarkEdit-customization/
WindowsFileTransfer/
videos/