<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>diegoibarra.AutoMountedDevice</string>
		<key>Program</key>
		<string>/Users/diegoibarra/Developer/1_myProjects/MiniProjects/AutoMountedDevice/AutoMountedDevice.py</string>
		<key>StartOnMount</key>
		<true/>
		<key>StandardErrorPath</key>
		<string>/Users/diegoibarra/Developer/1_myProjects/MiniProjects/AutoMountedDevice/.data/cache/AutoMountedDevice.err</string>
		<key>StandardOutputPath</key>
		<string>/Users/diegoibarra/Developer/1_myProjects/MiniProjects/AutoMountedDevice/.data/cache/AutoMountedDevice.out</string>
	</dict>
</plist>
